.khan__buy-link {
  margin: 0;
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  font-weight: 400;
  color:#2f80ed;
  align-self:baseline;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 1s;
}